{% extends "catalog/base_generic.html" %}

{% block title %}
  {% if view.object %}Edit Borrower{% else %}Add Borrower{% endif %}
{% endblock %}

{% block content %}
  <h2>{% if view.object %}Edit Borrower{% else %}Add Borrower{% endif %}</h2>
<a href="{% url 'home' %}" class="btn btn-secondary mb-3 rounded-pill" style="font-size: 1rem; padding: 10px 20px;">
  ← Back
</a>


  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <div class="error-message text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">
      {% if view.object %}Update{% else %}Add{% endif %} Borrower
    </button>
  </form>
{% endblock %}
